<h1>Welcome One and All to the Magical Creatures Website!</h1>

<p>The Magical Unicorn Society unites people across the globe who love unicorns. The job of our members is to document
  everything there is to know about these unique creatures and to protect them whenever they are in need. We track
  unicorns in their natural habitats, document our encounters with them, study their ways and record the stories that
  surround them. So if you do want to find out everything there is to know about unicorns, you’ve come to the right
  place.
</p>

<img src='images/unicorn.jpg' alt="beautiful unicorn">