<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{#each flash }}
  <p class="{{this.type}}">{{ this.message }}</p>
  {{/each}}
  {{{body}}}
</body>

</html>