<h2>Product Information</h2>

<a type='submit' id='delete' name='{{grocery.name}}' class='button delete'>Delete me!</a>

<p>Name: {{grocery.name}}</p>
<p>Quantity: {{grocery.quantity}}</p>

<a href="/">Return to list of groceries</a>