<h2>Add a new article:</h2>

{{#if error}}
<p style='color: red'>{{error}}</p>
{{/if}}

<form method="POST" action="/articles">
  <div class="row">
    <div class="small-12 columns">
      <label for='title'>Article Title</label>
      <input type="text" placeholder="Article Title" id='title' name='title' />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <label for='url'>Article URL</label>
      <input type="text" placeholder="Article URL" id='url' name='url' />
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <label for='description'>Article Description</label>
      <textarea cols="30" rows="10" placeholder="Article Description" name="description" id="description"></textarea>
      </label>
    </div>
  </div>

  <input class="button" type='submit'></input>
  <a href="http://localhost:3000/articles" class="button alert" type='submit'>Cancel</a>
</form>